@Bind(R.id.dateI)
    ImageView dateI;
    int dateCT = 0;
    int[] dateArray = new int[] {
            R.drawable.mood_date_gray,
            R.drawable.mood_date_green,
            R.drawable.mood_dare_red};
    @OnClick(R.id.dateRL)
    public void cheangeBrothers(View view) {
        dateI.setImageResource(dateArray[++dateCT % 3]);
    }
